<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Авторизация</title>
  <link rel="stylesheet" href="../../index.css">
</head>

<main>
  <div class="container">
    <div class="auth-form">

      <div class="input-wrapper">
        <h1 class="auth-form__title">Вход</h1>
        {{> input label="Логин" name="login"}}
        {{> input label="Пароль" name="password"}}
      </div>

      <div class="button-wrapper">
        {{> button name="Авторизоваться"}}
        {{> link name="Нет аккаунта?"}}
      </div>

    </div>
  </div>
</main>