.main-btn {
  width: 100%;
  height: 40px;
  max-width: 280px;
  font-size: 13px;
  line-height: 13px;
  background-color: var(--primaryYellow);
  color: var(--whiteBg);
  border-radius: 8px;
  border: none;
  cursor: pointer
}

.main-btn:focus,
:hover,
:active {
  background-color: var(--secondaryYellow);
}