$whiteBg: #FFFFFF
$blackBg: #000000
$lightGrey: #FBFBFB
$darkGrey: #EFEFEF
$primaryBlue: #2400FF
$secondaryTurq: #02EEFD
$primaryYellow: #FDE402
$errorRed: #FF2F2F

// @define-mixin primary-font
//   font-family: 'Inter'
//   font-style: normal
//   font-weight: 500
//   font-size: 13px
//   line-height: 13px
